/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* Full Background */

.form_container{
    width:100%;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#387ED1,#5B9DF9,#A5D8FF);

    padding:20px;
}

/* Signup Card */

.form_container form{
    width:100%;
    max-width:420px;

    background:#fff;

    padding:40px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

/* Heading */

.form_container h2{
    color:#fff;
    font-size:34px;
    margin-bottom:25px;
    font-weight:600;
}

/* Label */

.form_container label{
    display:block;
    margin-bottom:8px;
    color:#444;
    font-size:15px;
    font-weight:500;
}

/* Input */

.form_container input{
    width:100%;
    padding:14px 16px;

    border:1px solid #d9d9d9;

    border-radius:10px;

    outline:none;

    font-size:15px;

    margin-bottom:20px;

    transition:.3s;
}

.form_container input:focus{
    border-color:#387ED1;
    box-shadow:0 0 8px rgba(56,126,209,.25);
}

/* Button */

.form_container button{
    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#387ED1;

    color:#fff;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.form_container button:hover{
    background:#2c66b8;
    transform:translateY(-2px);
}

/* Bottom Text */

.form_container span{
    display:block;
    text-align:center;
    margin-top:20px;
    color:#555;
}

.form_container span a{
    text-decoration:none;
    color:#387ED1;
    font-weight:600;
}

.form_container span a:hover{
    text-decoration:underline;
}

/* Responsive */

@media(max-width:500px){

.form_container form{
    padding:25px;
}

.form_container h2{
    font-size:28px;
}

}
.button-group{
    display:center;
    gap:15px;
    margin-top:20px;
}

.button-group button{
    flex:1;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

.dashboard-btn{
    background:#28a745;
    color:white;
}

.dashboard-btn:hover{
    background:#218838;
}
.dashboard-btn{
    position:absolute;
    top:20px;
    left:20px;
}

.dashboard-btn a{
    display:flex;
    align-items:center;
    gap:8px;

    text-decoration:none;

    background:#387ed1;
    color:#fff;

    padding:10px 18px;

    border-radius:8px;

    font-size:16px;
    font-weight:600;

    transition:0.3s;
}

.dashboard-btn a:hover{
    background:#2c6ab8;
}

.dashboard-icon{
    font-size:22px;
}